<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="ClipDB_Connection" connectionString="Data Source=00.000.000.00\compac;Initial Catalog=ComercialSP;Persist Security Info=True;User ID=sa;Password=Compac1;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		
		<!-- Conexión para CONTPAQi -->
		<add name="CONTPAQi_Connection" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>

	<appSettings>
		<add key="server" value="00.000.000.00\compac" />
		<add key="Catalog" value="ComercialSP" />
		<add key="ID" value="sa" />
		<add key="Password" value="Compac1" />
		<!-- AGREGAR: Empresa CONTPAQi por defecto -->
		<add key="CONTPAQi_EmpresaDefault" value="ctCORPORATIVO" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
